DATABASE_URL="postgresql://neondb_owner:npg_yUJp9ISXxdq5@ep-red-block-b304sub2-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="Gwr8z3ikX7WpdzRHAmO1GxvLRz53YlyAI2z7e6pPD2Y="
PORT=4000
VITE_API_URL="http://localhost:4000/api"
